footer.ftco-footer.ftco-bg-dark.ftco-section {
    background: #232323;
}
footer.ftco-footer.ftco-bg-dark.ftco-section h2 {
    color: #fff;
    margin-bottom: 28px;
}
footer.ftco-footer.ftco-bg-dark.ftco-section ul li a {
    color: rgba(255, 255, 255, 0.7) !important;
    line-height: 29px;
    text-decoration: none;
}
footer.ftco-footer.ftco-bg-dark.ftco-section {
    padding: 25px 0px;
}
input.form-control.submit.px-3 {
    background: #2E3094;
    color: #fff;
    border: 1px solid #2E3094;
}
.ftco-footer-widget.mb-5 svg {
    font-size: 28px;
    margin-bottom: 16px;
    color: #fff;
}
ul.list-unstyled svg {
    font-size: 18px !important;
    color: rgba(255, 255, 255, 0.7) !important;
    margin-right: 10px;
}
.ftco-footer-widget.mb-5 svg {
    font-size: 18px;
    margin-bottom: 16px;
    color: rgba(255, 255, 255, 0.7);
}