
nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    padding: 25px 0px;
    border-bottom: 2px solid #dddddde0;
    box-shadow: 0px -2px 28px 0px black;
}
a.navbarLogo img {
    width: 140px;
}
nav.animated.fadeInDown.navbar.navbar-expand-lg.navbar-light.bg-light {
    background: #fcfcfc!important;
}
nav.animated.fadeInDown.fixed-top.navbar-with-zindex.navbar.navbar-expand-lg.navbar-light.bg-light a {
    color: #000000 
}

input.me-2.form-control {
    border: 1px solid #0dcaf0;
}
span.singleMsz {
    cursor: pointer;
    color: blue;
}
.navbar-with-zindex {
    z-index: 99999;
}
.modallogin-with-zindex {
    z-index: 9999999;
}
  
.modalReg-with-zindex {
    z-index: 99999999;
}

a.navBarLogin.nav-link {
    font-size: 20px;
    font-weight: 300;
}
.counterCircle {
    background: #2E3094;
    color: white;
    width: 25px;
    text-align: center;
    border-radius: 100%;
}
a.navBarLogin.nav-link {
    background: none #2E3094 !important;
    color: #ffffff !important;
    fill: #ffffff !important;
    border: none !important;
    text-decoration: none !important;
    outline: 0;
    box-shadow: -1px 6px 19px rgba(240,20,132,0.2) !important;
    border-radius: 4px !important;
    padding: 2px 13px;
}
button.userLoginBtn.btn.btn-primary {
    background: none #2E3094 !important;
    color: #ffffff !important;
    fill: #ffffff !important;
    border: none !important;
    text-decoration: none !important;
    outline: 0;
    box-shadow: -1px 6px 19px rgba(240,20,132,0.2) !important;
    border-radius: 4px !important;
    padding: 6px 13px;
}
button.userSignInBtn.btn.btn-primary {
    background: none #2E3094 !important;
    color: #ffffff !important;
    fill: #ffffff !important;
    border: none !important;
    text-decoration: none !important;
    outline: 0;
    box-shadow: -1px 6px 19px rgba(240,20,132,0.2) !important;
    border-radius: 4px !important;
    padding: 6px 13px;
};
p span {
    font-size: 20px;
}
a.navbarLogo p span {
    font-size: 30px;
    color: #2E3094;
    font-style: italic;
}
.navbarLogo p {
    font-style: italic;
}

/* for scrolling  */
.visible {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.invisible {
  opacity: 0;
  transform: translateY(-100%);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

@keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translateY(-100%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .animated.fadeInDown {
    animation: fadeInDown 0.5s ease-in-out;
  }
  

  
  